<nav class="p-3 flex items-center justify-between bg-blue-300 w-full">
  <a routerLink="/" class="px-4 py-2 bg-red-500 text-white font-semibold">
    Home
  </a>
  <div class="flex space-x-5 bg-blue-300">
    <a
      routerLink="/order/all"
      class="px-4 py-2 bg-blue-500 text-white font-semibold"
    >
      All Orders
    </a>

    <!-- Show Signup if not logged in -->
    <a
      *ngIf="!isLoggedIn"
      routerLink="/signup"
      class="px-4 py-2 bg-blue-500 text-white font-semibold"
    >
      Signup
    </a>

    <!-- Show Logout if logged in -->
    <a
      *ngIf="isLoggedIn"
      (click)="logout()"
      class="px-4 py-2 bg-red-500 text-white font-semibold cursor-pointer"
    >
      Logout
    </a>

    <a
      routerLink="/cart"
      class="px-4 py-2 bg-yellow-400 text-white font-semibold cursor-pointer"
    >
      Cart
    </a>
  </div>
</nav>

<router-outlet></router-outlet>
